
.mainContainer {
    width: 1140px;
    margin: 20px 20px 20px 20px
}

header {
    text-align: center
}

.error {
    color: red
}

body {
    background-color: darkgray
}

label {
    font-size: 20px
}


