body {
    width: 1360px;
    background-image: url("images/cafe.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.wrap { width: 1360px;
    margin: auto;
}

.auth, header, h3 {
    text-align: center
}
h2{  font-size: 35px;
    text-align: center}

h1 {
    font-size: 45px
}
.content {
    float: right;
    width: 80%;
    height: 500px}
.content_text{
    margin: 10px 10px 10px 40px;
    font-size: 20px;
}
aside {
    background: #bab5b3;
    float: left;
    font-size: 25px;
    width: 20%;
    height: 500px;
}
