body {
    background-color: darkgray;
    margin: auto;
}

h1 {
    text-align: center
}

.container {
    font-size:  20px;
    margin: 0 auto;
    text-align: center;
    width: 250px;
    clear: both;
}


.container input {
    width: 100%;
    clear: both;
}

span {
    color: red
}