<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add to menu</title>
        <link rel="stylesheet" href="/css/add-drink.css">
    </head>


    <body>
        <header>
            <h1>Добавляем напитки</h1>
        </header>
        <div class="mainContainer">
            <form th:method="POST" th:action="@{/drinks}" th:object="${formDrink}">
                <label for="Name">Название</label>
                <input type="text" th:field="*{name}" id="name" placeholder="name"/>
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
                <br/>
                <label for="bottleVolume">Объем(мл)</label>
                <input type="text" th:field="*{bottleVolume}" id="bottleVolume" placeholder="bottle volume"/>
                <div class="error" th:if="${#fields.hasErrors('bottleVolume')}" th:errors="*{bottleVolume}">Error</div>
                <br/>
                <label for="cost">Цена</label>
                <input type="text" th:field="*{cost}" id="cost" placeholder="cost"/>
                <div class="error" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Error</div>
                <br/>
                <input type="submit" value="Добавить в меню"/>
                <br/>
                <input type="reset" value="Очистить"/>
                <br>
                <input type="button" value="Назад"
                       onclick="window.location.href='/drinks'"/>
            </form>

        </div>
    </body>
</html>