<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update food</title>
        <link rel="stylesheet" href="/css/update-food.css">
    </head>
    <body>
        <header>
            <h1>Обновление позиции</h1>
        </header>
        <form th:action="@{/food}" th:object="${food}" th:method="post">
            <label for="id">ID</label>
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <br/>
            <label for="Name">Название</label>
            <input type="text" th:field="*{name}" id="name" placeholder="название"/>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
            <br/>
            <label for="weight">Вес(гр)</label>
            <input type="text" th:field="*{weight}" id="weight" placeholder="цена"/>
            <div class="error" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Error</div>
            <br/>
            <label for="cost">Цена</label>
            <input type="text" th:field="*{cost}" id="cost" placeholder="цена"/>
            <div class="error" th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}">Error</div>
            <br/>
            <input type="submit" value="Обновить">
            <br/>
            <input type="button" value="Назад"
                   onclick="window.location.href='/food'"/>
            <input type="button" value="Вернуться"
                   onclick="window.location.href='/'">
        </form>
    </body>
</html>