<!DOCTYPE html>

<head>
    <title>Authorization</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<h2>Страница авторизации</h2>
<br/>
<br/>
<br/>
<br/>
<div >
<form action="/auth/login" method="post">
    <label>Имя пользователя :</label>
    <input type="text" name="username"/>
    <label>Пароль</label>
    <input type="password" name="password"/>
    <div><input type="submit" value="Вход"/></div>
</form>
</div>
<input type="button" value="Вернуться"
       onclick="window.location.href='/'">
<br>
</body>
</html>